<div class="wrapper-search">
  <h1 class="h1">Buscar imagen</h1>
  <div class="row">
    <div class="col">
      <label for="search">Busqueda</label><br>
      <input id="search" type="text" name="search" placeholder="Busqueda" ng-model="search.$"/>
    </div>
    <div class="col">
      <label for="title">Titulo</label><br>
      <input id="title" type="text" name="title" placeholder="Titulo" ng-model="search.Title"/>
      <div class="row">
        <div class="col">
          <label for="author">Autor</label><br>
          <input id="author" type="text" name="author" placeholder="Autor" ng-model="search.Author"/>
        </div>
      </div>
    </div>
    <div class="col">
      <label for="description">Descripción</label><br>
      <input id="description" type="text" name="description" placeholder="Descripción" ng-model="search.Description"/>
      <div class="row">
        <div class="col">
          <label for="keywords">Palabras clave</label><br>
          <input id="keywords" type="text" name="keywords" placeholder="Palabras clave" ng-model="search.Keywords"/>
        </div>
      </div>
    </div>
  </div>

  <div class="content-table">
    <table class="table">
      <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Palabras clave</th>
        <th>Autor</th>
        <th>Creador</th>
        <th>Fecha de creación</th>
        <th>Fecha de alta</th>
        <th>Modificar</th>
        <th>Eliminar</th>
        <th>Visualizar</th>
      </tr>
      <tr ng-repeat="image in showImages | filter:search">
        <td ng-bind="image.Title"></td>
        <td ng-bind="image.Description"></td>
        <td ng-bind="image.Keywords"></td>
        <td ng-bind="image.Author"></td>
        <td ng-bind="image.Creator"></td>
        <td ng-bind="image.CreationDate"></td>
        <td ng-bind="image.RegisterDate"></td>
        <td>
          <button type="button" class="btn" ng-click="modImage(image)" ng-disabled="image.Creator != user.UserEmail">Modificar</button>
        </td>
        <td>
          <button type="button" class="btn btnDel" ng-click="delImage(image)" ng-disabled="image.Creator != user.UserEmail">Eliminar</button>
        </td>
        <td>
          <button type="button" class="btn" ng-click="downloadImage(image)">Descargar</button>
        </td>
      </tr>
    </table>
  </div>
</div>